.form {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  border-radius: 4px;
  position: relative;
  padding: 0;
  margin: 2px auto;
  width: 95%;
  .row{
    margin-bottom: 0;
    margin-top: 0;
  }
  button {
    float: right;
    background-color: $navbarBackground;
  }
  .delete-field {
    position: absolute;
    top: 32%;
    right: 6%;
    font-size: 17px;
    cursor: pointer;
  }
  input.valid[type="text"]:not(.browser-default){
    border-bottom: 1px solid #2bbbad;
    box-shadow: 0 1px 0 0 #2bbbad;
  }
  input[type="text"]:not(.browser-default):focus.valid ~ label{
    color:#2bbbad;
  }
}
