*{
  @include prefixer(box-sizing, border-box);
  margin: 0;
  padding: 0;
  border: 0;
}


body{
  background-color: $theme;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  p{
    margin-bottom: 1rem;
    margin-top: 0;
  }
  a{
    text-decoration: none;
    &:hover{
        text-decoration: none;
        text-underline: none;
        color: $textColor;
      }
  }
  li{
    list-style: none;
  }
  table{
    thead{
      background-color: #f9f9f9;
    }
    tr{
      border: 1px double #ccc;
    }
    td{
      border: 1px double #ccc;

    }
    th{
      border: 1px double #ccc;
    }
  }
  .content{
    margin: 75px  35px 75px -50px;
    @media #{$maxSmall} {
      margin: 75px 0;
    }
    text-align: left;
    strong{
      font-weight: bold;
    }
    .page-title-path{
      h2{
        font-weight: bold;
        font-size: 1.7rem;
        color: $mainTitle;
        margin-top: -5px !important;
      }
      p{
        text-align: right;
        color: $greyColor;
        span{
          color: #3E71F2;
        }
      }
    }
    .component-section{
      margin-top: 30px;
      .help{
        margin-top: -25px;
        padding-left: 20px;
        @media #{$maxSmall} {
          margin-top: 0;
        }
        h4{
          color: $mainTitle;
          margin-bottom: 25px;
        }
        h5{
          color: $greyColor;
        }
        .help-list{
          margin-left: 18px;
          li{
            list-style-type: disc !important;
            ul{
              li{
                margin-left: 30px;
                list-style-type: circle !important;
              }
            }
          }
        }
      }
    }
  }
}
